Package: nautilus-dbgsym
Package-Type: ddeb
Source: nautilus
Version: 1:50.2.2-0ubuntu0.1+columns1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 2912
Depends: nautilus (= 1:50.2.2-0ubuntu0.1+columns1)
Section: debug
Priority: optional
Description: debug symbols for nautilus
Build-Ids: 2450e346d1b406c2a55e7687eb2c875de4f11a7f 2f12cb1a12c0c39868d1ae254887033ab5ae0413 519b829963605bbb487a4025a62ed88513e2f264 f2c2370c83ebe386582d03388aa1826ffaeb55ce
Original-Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
