Package: libnautilus-extension-dev
Source: nautilus
Version: 1:50.2.2-0ubuntu0.1+columns1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 1070
Depends: libglib2.0-dev (>= 2.84.0), libnautilus-extension4 (= 1:50.2.2-0ubuntu0.1+columns1), gir1.2-gio-2.0-dev, gir1.2-glib-2.0-dev, gir1.2-nautilus-4.1 (= 1:50.2.2-0ubuntu0.1+columns1)
Provides: gir1.2-nautilus-4.1-dev (= 1:50.2.2-0ubuntu0.1+columns1)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://wiki.gnome.org/action/show/Apps/Nautilus
Description: libraries for nautilus components - development version
 Nautilus is the official file manager and graphical shell for the
 GNOME desktop.
 .
 This package provides the necessary development libraries and include
 files to develop and compile Nautilus extensions.
Original-Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
