Package: libnautilus-extension4
Source: nautilus
Version: 1:50.2.2-0ubuntu0.1+columns1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 68
Depends: libc6 (>= 2.4), libglib2.0-0t64 (>= 2.84.0)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://wiki.gnome.org/action/show/Apps/Nautilus
Description: libraries for nautilus components - runtime version
 Nautilus is the official file manager and graphical shell for the
 GNOME desktop.
 .
 This package contains a few runtime libraries needed by nautilus' extensions.
Original-Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
